@font-face{
  font-family: 'Open Sans';
  font-style: bold;
  src: local('Open Sans'), local('font/Open_Sans/OpenSans-Regular'), url('font/Open_Sans/OpenSans-Regular.ttf');
}

body { 
	margin:0; 
	padding:0;
}

a {
  text-decoration: white !important;
  text-decoration-color: white !important;
  border-bottom: 2px solid white;
  color:white !important;
  line-height: 15px;
}

a:hover {
 background-color: white;
 color: black !important;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.map-container {
  background-color: rgba(91, 91, 91,0.8);
  color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  font: 17px 'Open Sans';
  padding: 10px;
  position: absolute;
  border: 1px solid rgb(26,38,55);
  z-index: 1;
  font-weight: 700px;
  max-width: 50rem;
}

#layers {
  top: 10px;
  left: 10px;
}

#layers h4 {
  margin: 0 0 10px;
}

#layers h2, h1 {
	color: white;
	line-height: 24px;
  font-size: 23px !important;
}

span {
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

.mapboxgl-popup-content {
	font-family: 'Open Sans';
}

.mapboxgl-popup-content tr td:first-child {
	color: #88419d;
	max-width: 200px;
	line-height: 12px;
	font-weight: 700;
}
